---
interface Props {
  title: string;
  description: string;
  publishDate: string;
  viewCount: number;
}
const { title, description, publishDate, viewCount } = Astro.props;
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content={description}>
    <title>{title}</title>
</head>
<body>
<header>
    <p>Published on {publishDate}</p>
    <p>Viewed by {viewCount} folks</p>
</header>
<main>
    <slot />
</main>
</body>
</html>